{% extends 'base.html.twig' %}

{% block title %}Liste des Courses{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}


<div class="example-wrapper">
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <h1>Hello {{ app.user.username }}!</h1>
    {% endif %}

    <h1>Liste des Courses</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            {% for liste_de_course in liste_de_courses %}
                {% if liste_de_course.utilisateur == app.user.username %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ path('app_liste_de_courses_show', {'id': liste_de_course.id}) }}">{{ liste_de_course.nom }}</a></td>
                        <td>{{ liste_de_course.utilisateur }}</td>
                        <td>
                            <form action="{{ path('app_liste_de_courses_delete', {'id': liste_de_course.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette liste ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste_de_course.id) }}">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_liste_de_courses_new') }}" class="btn btn-primary">Ajouter une liste</a>
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <a href="{{ logout_path('main') }}" class="btn btn-primary">Deconnexion</a>
    {% endif %}
</div>



    
{% endblock %}
