{% extends 'base.html.twig' %}

{% block title %}Liste des Courses{% endblock %}

{% block body %}
    <h1>{{ liste_de_course.nom }}</h1>

    <h2>Articles disponibles :</h2>
    <ul>
        {% for article in articles %}
            <li>
                {{ article.nom }} - {{ article.description }}
                <form action="{{ path('app_liste_de_courses_add_article', {'id': liste_de_course.id, 'articleId': article.id}) }}" method="post">
                    <input type="submit" value="Ajouter à la liste">
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('app_liste_de_courses_index') }}">Retour à la liste des courses</a>
{% endblock %}
