{% extends 'base.html.twig' %}

{% block title %}
    {% if liste_de_courses %}
        {{ liste_de_courses.nom }}
    {% else %}
        New ListeDeCourses
    {% endif %}
{% endblock %}

{% block body %}
    {% if liste_de_courses %}
        <h1>{{ liste_de_courses.nom }}</h1>

        {% if liste_de_courses.courses|length > 0 %}
            <ul>
                {% for course in liste_de_courses.courses %}
                    <li>{{ course }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Cette liste de courses est vide.</p>
        {% endif %}
    {% else %}
        {% set redirection_url = path('app_home') %}
        {% autoescape false %}
            <script>
                window.location.href = "{{ redirection_url }}";
            </script>
        {% endautoescape %}
    {% endif %}

    <a href="{{ path('app_liste_de_courses_index') }}">Retour à la liste</a>
{% endblock %}
