{# templates/error/error404.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Erreur {{ statusCode }} - MakiMalin</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/erreur.css') }}">
</head>
<body>
<menu>
    {% if statusCode == 404 %}

    <div class="err404">

        <h1>404</h1>

        <h2>Oops !! Une MakiBetise s'est produite, revenez a l'accueil</h2>

        <a href="{{ path('app_home') }}">Accueil</a>

    </div>

    {% else %}

    <div class="err">

        <h1>Oh ! Vous avez du vous perdre en allant faire vos courses</h1>

        <a href="{{ path('app_home') }}">Accueil</a>
    
    </div>

    {% endif %}

</menu>


    
</body>
</html>
